.header {
  background-color: #111827;
  /* color: #faf7f0; */
  color: #c9a227;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.header__logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.header__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header__link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header__toggle {
    display: block;
  }

  .header__nav {
    display: none;
    flex-direction: column;
    background-color: #1f3328;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 1rem;
    border-radius: 8px;
  }

  .header__nav--open {
    display: flex;
  }
}
